<%- include('../partials/header.ejs') %>

    <!--Inicio Item-->
    <div class="item container">
        <div class="item__imagen">
            <img class="img--front" src="<%= item.img_front %>" alt="<%= item.product_description %>">
            <img class="img--back" src="<%= item.img_back %>" alt="<%= item.product_description %>">
        </div>
        <div class="item__descripcion">
            <p class="item__descripcion__title"><%= item.licence_name %></p>
            <p class="item__descripcion__subtitle"><%= item.product_name %></p>
            <p class="item__descripcion__description"><%= item.product_description %></p>
            <p class="item__descripcion__price">$ <%= item.product_price %></p>
            <div class="item__descripcion__selection">
                <div class="item__descripcion__selection__cantidad">
                    <input type="input" name="quantity" id="quantity" value="1" />
                    <div class="item__descripcion__selection__cantidad__cambiar">
                        <button id="add" type="button">+</button>
                        <button id="subtract" type="button">-</button>
                    </div>
                </div>
                <div class="item__descripcion__selection__carrito">
                    <button type="button" class="btn carrito">Agregar al Carrito</button>
                </div>
            </div>
            <div class="item__descripcion__pago">
                <p class="item__descripcion__dues"><a href="">Ver métodos de pago</a> - <%= item.dues %> CUOTAS SIN INTERÉS</p>
            </div>
        </div>
    </div>
    <!--Fin Item-->

    <!--Inicio Articulos Relacionados-->

    <div class="news glide container">
        <div class="news__title"><h2 class="titulo">ÚLTIMOS LANZAMIENTOS</h2></div>
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="news__articles__product glide__slide">
                <div class="news__articles__product__image">
                    <div class="news__articles__product__image__label">
                        <p>NUEVO</p>
                    </div>
                    <div class="news__articles__product__image__photo">
                        <img class="img--front" src="../../multimedia/star-wars/trooper-1.webp" alt="trooper-1">
                        <img class="img--back" src="../../multimedia/star-wars/trooper-box.webp" alt="trooper-box">
                    </div>
                </div>
                <div class="news__articles__product__description">
                    <p class="news__articles__product__description__title">STAR WARS</p>
                    <p class="news__articles__product__description__subtitle">STORTROOPER LIGHTSABER</p>
                    <p class="news__articles__product__description__price">$ 1799,99</p>
                    <p class="news__articles__product__description__dues">3 CUOTAS SIN INTERÉS</p>
                </div>                
            </li>

            <li class="news__articles__product glide__slide">
                <div class="news__articles__product__image">
                    <div class="news__articles__product__image__label">
                        <p>NUEVO</p>
                    </div>
                    <div class="news__articles__product__image__photo">
                        <img class="img--front" src="../../multimedia/pokemon/pidgeotto-1.webp" alt="pidgeotto-1">
                        <img class="img--back" src="../../multimedia/pokemon/pidgeotto-box.webp" alt="pidgeotto-box">
                    </div>
                </div>
                <div class="news__articles__product__description">
                    <p class="news__articles__product__description__title">POKEMON</p>
                    <p class="news__articles__product__description__subtitle">PIDGEOTTO</p>
                    <p class="news__articles__product__description__price">$ 1799,99</p>
                    <p class="news__articles__product__description__dues">3 CUOTAS SIN INTERÉS</p>
                </div>                
            </li>

            <li class="news__articles__product glide__slide">
                <div class="news__articles__product__image">
                    <div class="news__articles__product__image__label">
                        <p>NUEVO</p>
                    </div>
                    <div class="news__articles__product__image__photo">
                        <img class="img--front" src="../../multimedia/harry-potter/luna-1.webp" alt="luna-1">
                        <img class="img--back" src="../../multimedia/harry-potter/luna-box.webp" alt="luna-box">
                    </div>
                </div>
                <div class="news__articles__product__description">
                    <p class="news__articles__product__description__title">HARRY POTTER</p>
                    <p class="news__articles__product__description__subtitle">LUNA LOVEGOOD LION MASK</p>
                    <p class="news__articles__product__description__price">$ 1799,99</p>
                    <p class="news__articles__product__description__dues">3 CUOTAS SIN INTERÉS</p>
                </div>                
            </li> 

            <li class="news__articles__product glide__slide">
                <div class="news__articles__product__image">
                    <div class="news__articles__product__image__label">
                        <p>NUEVO</p>
                    </div>
                    <div class="news__articles__product__image__photo">
                        <img class="img--front" src="../../multimedia/star-wars/luke-1.webp" alt="luke-1">
                        <img class="img--back" src="../../multimedia/star-wars/luke-box.webp" alt="luke-box">
                    </div>
                </div>
                <div class="news__articles__product__description">
                    <p class="news__articles__product__description__title">STAR WARS</p>
                    <p class="news__articles__product__description__subtitle">LUKE SKYWALKER</p>
                    <p class="news__articles__product__description__price">$ 1799,99</p>
                    <p class="news__articles__product__description__dues">3 CUOTAS SIN INTERÉS</p>
                </div>                
            </li>

            <li class="news__articles__product glide__slide">
                <div class="news__articles__product__image">
                    <div class="news__articles__product__image__label">
                        <p>NUEVO</p>
                    </div>
                    <div class="news__articles__product__image__photo">
                        <img class="img--front" src="../../multimedia/pokemon/charmander-1.webp" alt="charmander-1">
                        <img class="img--back" src="../../multimedia/pokemon/charmander-box.webp" alt="charmander-box">
                    </div>
                </div>
                <div class="news__articles__product__description">
                    <p class="news__articles__product__description__title">POKEMON</p>
                    <p class="news__articles__product__description__subtitle">CHARMANDER</p>
                    <p class="news__articles__product__description__price">$ 1799,99</p>
                    <p class="news__articles__product__description__dues">3 CUOTAS SIN INTERÉS</p>
                </div>                
            </li>

            <li class="news__articles__product glide__slide">
                <div class="news__articles__product__image">
                    <div class="news__articles__product__image__label">
                        <p>NUEVO</p>
                    </div>
                    <div class="news__articles__product__image__photo">
                        <img class="img--front" src="../../multimedia/harry-potter/harry-1.webp" alt="harry-1">
                        <img class="img--back" src="../../multimedia/harry-potter/harry-box.webp" alt="harry-box">
                    </div>
                </div>
                <div class="news__articles__product__description">
                    <p class="news__articles__product__description__title">HARRY POTTER</p>
                    <p class="news__articles__product__description__subtitle">HARRY POTTER</p>
                    <p class="news__articles__product__description__price">$ 1799,99</p>
                    <p class="news__articles__product__description__dues">3 CUOTAS SIN INTERÉS</p>
                </div>                
            </li> 
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="../../multimedia/icons/icons8-back-50.png" alt=""></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="../../multimedia/icons/icons8-forward-50.png" alt=""></button>
        </div>
    </div>

    <!--Fin Articulos Relacionados-->

    <script src="../../js/item.js"></script>

<%- include('../partials/footer.ejs') %>