<%- include('../partials/header.ejs') %>
    
    <section class="shop">
        <div class="shop-container">

            <!--Filter-->
            <div class="filter__titulo">
                <a class="nav-link dropdown-toggle" href="#filter" role="button" data-bs-toggle="dropdown" aria-expanded="false">FILTRAR</a>
            </div>

            <div class="filter">
                <div class="filter__buscar">
                    <label for="buscar" id="buscar">BUSCAR:</label>
                    <input type="input" name="buscar" id="buscar" value="item o categoria" />
                </div>
                <div class="filter__orden">
                    <label for="ordenar" id="ordenar">ORDENAR POR</label>
                    <select name="orden" id="orden">
                        <option value=""></option>
                        <option value="">Publicado recientemente</option>
                        <option value="">Mayor precio</option>
                        <option value="">Menor precio</option>
                    </select>
                </div>
                <div class="filter__precio">
                    <label for="precio" id="precio">PRECIO</label>
                    <div class="filter__precio__limites">
                        <label>MIN</label>
                        <input type="input" name="min" id="min" value="0" />
                        <p>-</p>
                        <label>MAX</label>
                        <input type="input" name="max" id="max" value="0" />
                    </div>
                </div>
                <div class="filter__filtro">
                    <label for="filtro" id="filtro">FILTRAR</label>
                    <div class="filter__filtro__inputs">
                        <input type="checkbox"> NUEVOS<br>
                        <input type="checkbox"> OFERTAS<br>
                        <input type="checkbox"> EDICIÓN ESPECIAL<br>
                        <input type="checkbox"> FAVORITOS    
                    </div>
                </div> 
            </div>
            <!--Fin Filter-->

            <div class="shop-principal">
                <!--Inicio Articles-->
                <div class="articles">
                    <% data.forEach( item => { %>
                    <div id="articles" class="articles__product">
                        <a href="/shop/item/<%= item.product_id %>">
                            <div class="articles__product__image">
                                <div class="articles__product__image__label">
                                    <p>NUEVO</p>
                                </div>
                                <div class="articles__product__image__photo">
                                    <img class="img--front" src="<%= item.img_front %>" alt="${producto.titulo}">
                                    <img class="img--back" src="<%= item.img_back %>" alt="${producto.titulo}">
                                </div>
                            </div>
                            <div class="articles__product__description">
                                <p class="articles__product__description__title"><%= item.licence_name %></p>
                                <p class="articles__product__description__subtitle"><%= item.product_name %></p>
                                <p class="articles__product__description__price">$ <%= item.product_price %></p>
                                <p class="articles__product__description__dues"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>     
                    </div>
                    <% }) %>
                </div>
                
                <!--Fin Articles-->

                <!--Inicio Botones-->
                <div class="botones">
                    <button type="button" id="btn-left" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true"><</button>
                    <button type="button" id="btn-1" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">1</button>
                    <button type="button" id="btn-2" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">2</button>
                    <button type="button" id="btn-3" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">3</button>
                    <button type="button" id="btn-4" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">4</button>
                    <button type="button" id="btn-5" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">5</button>
                    <button type="button" id="btn-6" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">6</button>
                    <button type="button" id="btn-7" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">7</button>
                    <button type="button" id="btn-right" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">></button>
                </div>
                <!--Fin Botones-->
            </div>
        </div>
    </section>

    <!-- <script src="../../js/shop.js"></script> -->
    
<%- include('../partials/footer.ejs') %>